<ion-view view-title="helpOUT TASKS">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">TASKS</div>
      <div class="item item-body">
        <div>
          You have <b>0</b> tasks to complete.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">TRIPS</div>
      <div class="item item-body">
        <div>
          You have <b>0</b> trips to run.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Locations</div>
      <div class="item item-body">
        <div>
            You have <b>0</b> saved locations.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
